.text {
  position: relative;
  color: var(--mantine-color-customWhite-1);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  /* same number as your lineClamp prop */
  -webkit-box-orient: vertical;
  word-break: break-word;
  /* allows breaking long words */
  white-space: normal;
  /* ensures wrapping is allowed */
}

/* ensures all jobcards are consistent height regardless of howeverlong the job descriptions are */
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  min-height: 60px; 
  word-break: break-word;
  overflow-wrap: anywhere;
}
